<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form id="sentimentForm" method="POST" action="/predict">
            <textarea id="inputText" name="text" rows="4" cols="50" placeholder="Enter your comment here..."></textarea>
            <br>
            <button type="submit">Predict</button>
        </form>
        <div id="result">
            {% if result %}
                <h2>Result:</h2>
                <ul>
                    {% for item in result %}
                        <li>{{ item['Comment'] }} - <span class="{{ item['Label'] }}">{{ item['Label'] }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>
